<?xml version='1.0' encoding='utf-8'?>
<Settings>
	<!-- threshhold bounding for mask generation --> 
	<HSV>
		<lowerBound>
			<H>13</H>
			<S>60</S>
			<V>20</V>
		</lowerBound>
		<upperBound>
			<H>115</H>
			<S>255</S>
			<V>200</V>
		</upperBound>
	</HSV>
	<!-- Video Input Settings -->
	<StreamCap>
		<framerate>6</framerate>
		<!--
			list-formats-ext in v4l2-ctl to see all stream-formats
			1920x1080 / 1280x720
		-->
		<Frame-Width>1920</Frame-Width>
		<Frame-Height>1080</Frame-Height>
		<Frame-Format>YUY2</Frame-Format>
		<rotation>2</rotation>
		<dist-en>False</dist-en>
		<dist-file>distortion_1440x1080.pkl</dist-file>
	</StreamCap>
	<!-- Video Output Settings -->
	<StreamWrite>
		<framerate>5</framerate>
		<Frame-Width>1920</Frame-Width>
		<Frame-Height>1080</Frame-Height>
		<!-- Frame-Format = BGR/GRAY8 -->
		<Frame-Format>BGR</Frame-Format>
	</StreamWrite>
	<tflite>
		<inference>
			<model-file>tflite-file.tflite</model-file>
			<input_size_x>300</input_size_x>
			<input_size_y>300</input_size_y>
			<input_size_depth>3</input_size_depth>
			<!-- 
				define input-Preprocessing
				 float32-1: 	normalize input between -1 and 1
				 float32-VGG:  	VGG style channel mean subtraction as described here:
    							https://gist.github.com/ksimonyan/211839e770f7b538e2d8#file-readme-mdnge.
			-->
			<input_type>float32-VGG</input_type>
			<label-map>tflite_label_map.txt</label-map>
			<!--
				delegate:
				0=>CPU
				1=>ethos-u
			-->
			<delegate>1</delegate>
		</inference>
		<dataset-path>dataset</dataset-path>
	</tflite>
</Settings>